.kits-table { min-width: 1050px; }
.description { display: block; max-width: 250px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.price { color: #155eef; font-weight: 600; }
.negative { color: #b42318; }
