@import "./app/shared/styles/_tables.css";
@import "./app/shared/styles/_tabs.css";
@import "./app/shared/styles/_forms.css";
@import "./app/shared/styles/_content-header.css";
@import "./app/shared/styles/_dialog.css";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background: #f5f7fb;
}

* {
  box-sizing: border-box;
}

.mat-icon {
  font-family: 'Material Symbols Outlined' !important;
}
